<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="F:/intellij/Projects/manaswebapp/src/test"><classes><class name="org.example.FlipkartTest"><methods><include name="testCheckTitleAndCloseLogIn"/><include name="testMaximizeWindow"/><include name="testSearchBox"/><include name="testClickOnItem"/><include name="testScroll"/></methods></class><class name="org.example.W3schoolsTest"><methods><include name="testJbkTitle"/></methods></class></classes></test></suite>